<div class="sidenav-container">
  <!-- Main navigation links -->
  <nav class="sidenav-menu">
    <a routerLink="/home" class="nav-link active">
      <i class="fa fa-home"></i>
      <span>Dashboard</span>
    </a>
    <a routerLink="/stocks" class="nav-link">
      <i class="fa fa-archive"></i>
      <span>Stocks Management</span>
    </a>
    <a routerLink="/shipments" class="nav-link">
      <i class="fa fa-truck"></i>
      <span>Shipment Tracking</span>
    </a>
    <a routerLink="/home" class="nav-link">
      <i class="fa fa-bar-chart"></i>
      <span>Reports & Analytics</span>
    </a>
    <a routerLink="/home" class="nav-link">
      <i class="fa fa-users"></i>
      <span>Customer Management</span>
    </a>
    <a routerLink="/home" class="nav-link">
      <i class="fa fa-book"></i>
      <span>Food Safety Blogs</span>
    </a>
  </nav>

  <!-- Bottom links -->
  <div class="sidenav-footer">
    <a routerLink="/home" class="nav-link">
      <i class="fa fa-cog"></i>
      <span>Settings</span>
    </a>
    <a routerLink="/home" class="nav-link">
      <i class="fa fa-user-circle"></i>
      <span>My Account</span>
    </a>
    <a routerLink="/home" class="nav-link">
      <i class="fa fa-question-circle"></i>
      <span>Help & Support</span>
    </a>
  </div>
</div>
